body{
    background-color: blue;
    overflow: hidden;
}
h3{
    color: white;
    font-family: sans-serif;
    position: relative;
    bottom: 50px;
    right: 150px;
}
h4{
    color: white;
    font-family: sans-serif;
    position: relative;
    bottom: 50px;
}

.input{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
}

.inputext{
   
    background-color:blue;
    border: 0px ;
}


.pronote{
 position: relative;
 bottom: 500px;
 left: 700px;
    color: white;
    background-color: rgb(27, 26, 26);
    height: 500px;
    width: 500px;

    
}

.pronotext{
    position: relative;


}